html { cursor: url('sprites/mouse_game.png'), auto; }
button:hover { cursor: url('sprites/mouse_game_hover.png'), pointer; }
button { cursor: url('sprites/mouse_game.png'), auto; }
a:hover { cursor: url('sprites/mouse_game_hover.png'), pointer; }
a { cursor: url('sprites/mouse_game.png'), auto; }
div:hover { cursor: url('sprites/mouse_game_hover.png'), pointer; }
upgrade-button:hover { cursor: url('sprites/mouse_game_hover.png'), pointer; }
upgrade-button { cursor: url('sprites/mouse_game.png'), auto; }
.menu-button:hover { cursor: url('sprites/mouse_game_hover.png'), pointer; }
.menu-button { cursor: url('sprites/mouse_game.png'), auto; }
.skill-icon:hover { cursor: url('sprites/mouse_game_hover.png'), pointer; }
.skill-icon { cursor: url('sprites/mouse_game.png'), auto; }
/*Cuando se hace click en un botón*/
button:active { cursor: url('sprites/mouse_game.png'), auto; }
/*Cuando se hace click en un enlace*/
a:active { cursor: url('sprites/mouse_game.png'), auto; }
/*Cuando se hace click en un div*/
div:active { cursor: url('sprites/mouse_game.png'), auto; }
/*Cuando se hace click en un botón de actualización de habilidad*/
upgrade-button:active { cursor: url('sprites/mouse_game.png'), auto; }
/*Cuando se hace click en un botón de menú*/
.menu-button:active { cursor: url('sprites/mouse_game.png'), auto; }
/*Cuando se hace click en una imagen de habilidad*/
.skill-icon:active { cursor: url('sprites/mouse_game.png'), auto; }